.app__page{
    display:flex;
  
  } 
  .home1{
    
    width: 20%;
    display :flex;
    padding:10px;
    align-items: center; 
    cursor: pointer;
  }
  .home1:hover{
    background-color: lightgrey;
    
}
.home1:hover>.home__icon{
    color:rgb(22, 22, 100);
    
}
.welcome{
  width:100%;
}