.recommended{
    flex:1;
    background-color: #f9f9f9;
    /* background-color: black; */
    padding: 40px 20px;
    padding-bottom: 0;
    /* border:1px black solid;   */
    z-index: 0;
}
.recommended>h2{
    margin-left: 5px ;
    margin-bottom: 10px;
} 
.recommmended__videocard{
    display:flex; 
    flex-wrap: wrap; 
    text-align: center;
    /* justify-content: space-around; */
   
    align-items: center;
}
.welcome{
    width:100%;
}
.sano{
    color:blue;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    left: -104px;
}